pyiqa==0.1.13
pytorch-lightning==2.5.0.post0
torch-optimizer==0.3.0
torchmetrics==1.6.2
pytorch-msssim==1.0.0
torchstat==0.0.7
torchsummary==1.5.1
pytorch-ranger==0.1.1
torchsde==0.2.6
numpy==1.26.4
scipy==1.14.1
Pillow==9.5.0
opencv-python==4.9.0.80
fastapi==0.115.11
Flask==3.0.3
transformers==4.37.2
deepspeed
basicsr==1.4.2
peft==0.15.2
PyYAML==6.0.1
Requests==2.32.3
tqdm
llamaapi==0.1.36
easydict==1.13
einops==0.8.0
setuptools==72.1.0
gradio
gradio_client
rich
six
ptflops==0.6.4
lpips==0.1.4
natsort==7.1.1
tensorboardX

## install during debug
timm
thop
facexlib
realesrgan
omegaconf==2.3.0
ftfy==6.2.0
openai
outlines==0.2.1
datasets==3.4.0
hpsv2==1.2.0
termcolor
scikit-learn
bitsandbytes==0.45.0